<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="page-title">All Alarms</h3>
        </div>
    </div>
</div>
<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="box bg-primary pull-up mb-0">
                        <div class="box-body text-center">
                            <span>
                                <i class="fa fa-bell pb-10 font-size-50"></i>
                            </span><br>
                            <h1>320</h1>
                            <span>Alarms Generated</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="box bg-success pull-up mb-0">
                        <div class="box-body text-center">
                            <span>
                                <i class="fa fa-file pb-10 font-size-50"></i>
                            </span><br>
                            <h1>300</h1>
                            <span>Case Dispatched</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="box bg-warning pull-up mb-0">
                        <div class="box-body text-center">
                            <span>
                                <i class="fa fa-flag pb-10 font-size-50"></i>
                            </span><br>
                            <h1>250</h1>
                            <span>Case in Process</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="box bg-dark pull-up mb-0">
                        <div class="box-body text-center">
                            <span>
                                <i class="fa fa-cogs pb-10 font-size-50"></i>
                            </span><br>
                            <h1>150</h1>
                            <span>Cases Panding</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="box bg-info pull-up mb-0">
                        <div class="box-body text-center">
                            <span>
                                <i class="fa fa-times pb-10 font-size-50"></i>
                            </span><br>
                            <h1>150</h1>
                            <span>Not Found</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="box bg-danger pull-up mb-0">
                        <div class="box-body text-center">
                            <span>
                                <i class="fa fa-share pb-10 font-size-50"></i>
                            </span><br>
                            <h1>150</h1>
                            <span>Target Impound</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Stats of Cases</h3>
                            <div class="box-tools pull-right">
                                <ul class="card-controls">
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" href="#"><i class="ion-android-more-vertical"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item active" href="#">Today</a>
                                            <a class="dropdown-item" href="#">Yesterday</a>
                                            <a class="dropdown-item" href="#">Last week</a>
                                            <a class="dropdown-item" href="#">Last month</a>
                                        </div>
                                    </li>
                                    <li><a href="" class="link card-btn-reload" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="mdi mdi-toggle-switch-off-thin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="text-center py-20">
                                <div class="donut" data-peity='{ "fill": ["#fc4b6c", "#ffb22b", "#398bf7", "#fc4b6c"], "radius": 120, "innerRadius": 80  }'>9,6,5,7</div>
                            </div>
                            <ul class="list-inline">
                                <li class="flexbox">
                                    <div>
                                        <span class="badge badge-dot badge-lg mr-1"></span>
                                        <span>Total Alarms</span>
                                    </div>
                                    <div><span class="label label-danger">320</span></div>
                                </li>
                                <li class="flexbox">
                                    <div>
                                        <span class="badge badge-dot badge-lg mr-1"></span>
                                        <span>Case Dispatched</span>
                                    </div>
                                    <div><span class="label label-warning">300</span></div>
                                </li>
                                <li class="flexbox">
                                    <div>
                                        <span class="badge badge-dot badge-lg mr-1"></span>
                                        <span>Case in Process</span>
                                    </div>
                                    <div><span class="label label-primary">250</span></div>
                                </li>
                                <li class="flexbox">
                                    <div>
                                        <span class="badge badge-dot badge-lg mr-1"></span>
                                        <span>Target Impound</span>
                                    </div>
                                    <div><span class="label label-info">150</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="box-header with-border mb-3">
                    <h3 class="box-title">Statistics</h3>
                    <div class="box-tools pull-right">
                        <ul class="card-controls">
                            <li class="dropdown">
                                <a data-toggle="dropdown" href="#"><i class="ion-android-more-vertical"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item active" href="#">Today</a>
                                    <a class="dropdown-item" href="#">Yesterday</a>
                                    <a class="dropdown-item" href="#">Last week</a>
                                    <a class="dropdown-item" href="#">Last month</a>
                                </div>
                            </li>
                            <li><a href="" class="link card-btn-reload" data-toggle="tooltip" title="" data-original-title="Refresh"><i class="mdi mdi-toggle-switch-off-thin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    <div class="flexbox mt-70">
                        <div class="bar" data-peity='{ "fill": ["#666EE8", "#1E9FF2", "#28D094", "#FF4961", "#FF9149"], "height": 298, "width": 250, "padding":0.2 }'>952,558,1254,427,784</div>
                        <ul class="list-inline align-self-end text-muted text-right mb-0">
                            <li>Total Alarms <span class="badge badge-primary ml-2">952</span></li>
                            <li>Case Dispatched <span class="badge badge-info ml-2">558</span></li>
                            <li>Case in Process <span class="badge badge-success ml-2">1254</span></li>
                            <li>Target Impound <span class="badge badge-danger ml-2">427</span></li>
                            <li>Case Pending <span class="badge badge-warning ml-2">784</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12 col-12 connectedSortable">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Case List</h4>
                    </div>
                    <div class="box-body pt-3">
                        <div class="table-responsive">
                            <table id="invoice-list" class="table table-hover no-wrap mb-0" data-page-size="10">
                                <thead>
                                    <tr>
                                        <th>#Alarm</th>
                                        <th>Vehicle No</th>
                                        <th>Team ID</th>
                                        <th>Team Name</th>
                                        <th>Status</th>
                                        <th>Time</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>#5010</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 009</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-danger">Pending</span> </td>
                                        <td>15-Jan 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5011</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 009</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-success">Completed</span> </td>
                                        <td>15-Sep 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5012</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 112</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-danger">Pending</span> </td>
                                        <td>15-Jun 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5013</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 112</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-success">Completed</span> </td>
                                        <td>15-May 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5014</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 112</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-primary">Dispatched</span> </td>
                                        <td>15-Mar 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5015</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 112</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-primary">Dispatched</span> </td>
                                        <td>15-Aug 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>#5015</td>
                                        <td>LEO 8544 </td>
                                        <td>Team 112</td>
                                        <td>Team ABC</td>
                                        <td><span class="label label-primary">Dispatched</span> </td>
                                        <td>15-Aug 10:20:58</td>
                                        <td>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>